<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location" android:required="false" />

    <!-- Android 11+ limits package visibility. These are only used for app-status checks and handoff. -->
    <queries>
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="app.revanced.android.youtube.music" />
        <package android:name="app.revanced.android.gms" />
        <package android:name="com.mgoogle.android.gms" />
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:icon="@drawable/ic_soundtrail"
        android:label="@string/app_name"
        android:theme="@style/Theme.Soundtrail">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Register this EXACT URI in the Spotify Developer Dashboard. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="app.soundtrail" android:host="spotify-auth" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
